.main-header {
    font-family: 'Abril Fatface', cursive;
    color: white;
}

label {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: monospace;
}

body {
    background-color: lightcyan
}

.column-styling {

}

.table-column {
    border: 1px solid black;
    margin: 10px;
    margin-top: 50px;
}

button {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bolder;
    border: 2px solid black;
}

select {
    width: 170px;
    height: 30px;
    font-family: 'Righteous', cursive;
}

.small-button {
    width: 150px;
    height: 30px;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 15px;
    border: 2px solid black;
}

.large-button {
    width: 200px;
    height: 50px;
    margin-left: 42%;
    margin-top: 25px;
    border: 2px solid black;
}

.long-button {
    width: 300px;
    height: 30px;
    border: 2px solid black;
}

table {
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
}

.check {
    border: 1px solid black;
}

td {
    border: 2px solid black;
    height: 20px;
    width: 300px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 16px;
}

th {
    border: 2px solid black;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}